// Global Variables
$c-bg-header: #72A1A7;
$c-bg-footer: #72A1A7;
$c-font-header: rgba(226, 220, 220, 0.5);
$c-font-header: rgba(226, 220, 220, 0.5);

// Button Styles
$mabr-btn-bg-color: grey;
$mabr-btn-color: #FFF;
$mabr-btn-border-radius: 30px;


.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: $mabr-btn-border-radius;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: $mabr-btn-bg-color;
  color: $mabr-btn-color;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: red;
}

.btn-primary:active, .btn-primary.active {
  background: red;
  box-shadow: none;
}
