@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
// @import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700i');

@import 'font-awesome';
// @import 'variables';
@import 'override_bootstrap_variables';
@import 'bootstrap';

// @import "~bootstrap/dist/css/bootstrap.css";
// global styles goes in _override_boostrap_variables.scss, bs, 12.11.18
// app.component.ts imports app.scss that includes shared, and more stuff..





