@import '../../../styles/_shared';


i {
  color: #fff;
}

a{
  .card-header {
    &.card-header-green {
      background: $theme-color6;
    }
    &.card-header-red{
      background: $theme-color7;
    }
    &.card-header-blue{
      background: $theme-color8;
    }
  }
}


a:hover{

  text-decoration: none;

  .card-header {
    &.card-header-green {
      background: $theme-color6-active;
    }
    &.card-header-red {
      background: $theme-color7-active;
    }
    &.card-header-blue {
      background: $theme-color8-active;
    }
  }


}


@media screen and (max-width: 768px) {

  h4, .h4 {
    font-size: 1rem;
  }
}
