<nav class="navbar navbar-expand-md navbar-dark">

  <a class="navbar-brand" [routerLink]="['']">MABRSHOP</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['produkte']" routerLinkActive="active">Produkte <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a *ngIf="isLoggedIn" class="nav-link mr-4" [routerLink]="['users/profile']" routerLinkActive="active">Benutzerprofil</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['user-login-register-slide']" *ngIf="!isLoggedIn" class="nav-link mr-4" routerLinkActive="active">Login/Register</a>
      </li>
      <li class="nav-item">
        <a href="#" (click)="logout()" *ngIf="isLoggedIn" class="nav-link mr-5" routerLinkActive="active">Logout</a>
      </li>
      <!--<li class="nav-item lang">-->
        <!--<a class="nav-link" routerLinkActive="active">DE</a><span class="nav-link">/</span><a class="nav-link">EN</a>-->
      <!--</li>-->
    </ul>

  </div>

  <app-header-search></app-header-search>

  <app-header-orderflyout></app-header-orderflyout>

  <span class="burgerMenu" (click)="OpenMenuCanvas()">
    <div></div>
    <div></div>
    <div></div>
  </span>

</nav>
