<div class="pull-right shopping">
  <ul>
    <li class="submenu">
      <a [routerLink]="['bestellung']"><img src="assets/cart.png" id="img-cart" alt="Warenkorb"></a>
      <span class="bubble">{{productsPerOrderLocalStorage?.length || '0'}}</span>


      <div *ngIf="visibleStatus" id="shopping-cart">

        <div *ngIf="(productsPerOrderLocalStorage?.length > 0);then items else no_items">  </div>

        <ng-template #items>
          <table id="cart-content">
            <thead>
            <tr>
              <th class="preview-product">Artikel</th>
              <th class=""></th>
              <th class="preview-discount text-right">Rabatt</th>
              <th class="preview-qty text-right">Anz.</th>
              <th class="preview-total text-right">Total</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let item of  productsPerOrderLocalStorage | slice:0:5">
              <td>
                <img class="preview-picture"src="{{item.image}}">
              </td>
              <td class="preview-prodname">{{item.name}}</td>

              <td class="text-right"><span *ngIf="item.discountFactor !== 1">{{(1 - item.discountFactor) * 100 | number : '1.0'}}%</span></td>
              <td class="text-right">{{item.qty}}</td>
              <td class="text-right">{{item.price *  item.discountFactor | number : '1.2-2'}}</td>

            </tr>


            <tr *ngIf="productsPerOrderLocalStorage?.length > 5" class="ellipsis">
              <td colspan="5" ><i class="fa fa-ellipsis-h"></i> </td>
            </tr>

            </tbody>
            <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Total</td>
              <td class="text-right">{{order?.totalValue | number : '1.2-2' }}</td>
            </tr>
            </tfoot>

          </table>

          <button [routerLink]="['bestellung']" (click)="closeFlyout()" id="clear-cart" class="button btn btn-primary mt-2">Bestellen</button>

        </ng-template>

        <ng-template #no_items>
          Es befinden sich keine Artikel im Warenkorb
        </ng-template>

      </div>
    </li>
  </ul>
</div>
