<!--<form (ngSubmit)="getAllSearch()" [formGroup]="searchFormReactive" class="form-inline">-->
  <!--<input class="form-control"-->
         <!--formControlName="search"-->
         <!--type="text"-->
         <!--placeholder="Search"-->
         <!--aria-label="Search"-->
         <!--(keyup)="getAllSearch()">-->
  <!--<button class="btn btn-secondary btn-circle" type="submit" (click)="resetForm()"><i class="fa fa-times-circle"-->
                                                                                      <!--aria-hidden="true"></i></button>-->
<!--</form>-->


<form (ngSubmit)="getAllSearch()" [formGroup]="searchFormReactive">
  <input type="text"
         formControlName="search"
         (keyup)="getAllSearch()"
         (focus)="showCloseIcon()"
         (blur)="hideCloseIcon()"
         name="search"
         placeholder="Sucheingabe..."
         autocomplete="off">
         <div class="searchhelper" [style.display]="closeIconStatus == true ? 'block' : 'none'">
           <a class="searchhelper-close" (click)="resetForm()">X</a>
         </div>
</form>
