<form (ngSubmit)="getAllSearch()" [formGroup]="searchFormReactive">
  <input #search
          type="text"
         formControlName="search"
         (keyup)="getAllSearch()"
         (blur)="hideCloseIcon()"
         (click)="showCloseIcon()"
         name="search"
         placeholder="Sucheingabe..."
         autocomplete="off">

 <i class="fa fa-search" (click)="openSearchBox()"></i>


         <div class="searchhelper" [style.display]="closeIconStatus == true ? 'block' : 'none'">
           <a class="searchhelper-close" (click)="resetForm()">X</a>
         </div>
</form>
