input[type=text] {
  position: absolute;
  top: 17px;
  right: 122px;
  border: 0;


  //background-image: url('./../../../../assets/searchicon.png');
  width: 40px;
  height: 30px;
  background-color: transparent;
  // background-size: 30px;


  background-position: 4px 4px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  cursor: pointer;
  text-indent:-5000px;
  // transition: all 0.4s ease-in-out;
}

.fa{
  font-size: 30px;
  color: #fff;
}


input[type=text]:focus {
  width: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: white;
  background-image: url('./../../../../assets/searchicon.png');
  background-position: 10px 20px;
  background-repeat: no-repeat;
  padding: 20px 20px 20px 40px;
  text-indent: 0;
  cursor: text;
  z-index: 4;
  height: auto;

}

.searchhelper{
  display: none;
  position: absolute;
  top: 16px;
  right: 5px;
  .searchhelper-close{
    color: cornflowerblue;
    cursor: pointer;
  }
  z-index: 1400;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

@media (max-width: 767px) {
  input[type=text] {  // search icon left to the hamburger
    right: 68px!important;
  }
}
