<form (ngSubmit)="getAllSearch()" [formGroup]="searchFormReactive">
  <input type="text"
         formControlName="search"
         (keyup)="getAllSearch()"
         (focus)="showCloseIcon()"
         (blur)="hideCloseIcon()"
         name="search"
         placeholder="Sucheingabe..."
         autocomplete="off">
         <div class="searchhelper" [style.display]="closeIconStatus == true ? 'block' : 'none'">
           <a class="searchhelper-close" (click)="resetForm()">X</a>
         </div>
</form>
