@import '../../../../styles/shared';

ul {
  margin-bottom: 0;
}

li.submenu {
  padding: 10px;
}

@media (max-width: 767px) {
  li.submenu {
    margin-right: 25px;
  }
}

.shopping li {
  list-style-type: none;
}

@media (max-width: 580px) {
  .shopping ul {
    padding-left: 0;
  }
}

.submenu {
  position: relative;
}

.submenu #shopping-cart {
  display: none;
}

.submenu:hover #shopping-cart {
  display: block;
  position: absolute;
  right: -15px;
  top: 45px;
  z-index: 50000;
  background-color: white;
  padding: 20px;
  min-height: 200px;
  min-width: 500px;
  border: 1px solid black;
}


.remove {
  background-color: red;
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.bubble {
  display: inline-block;
  padding: 4px 7px 4px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  background: white;
  border-radius: 10px;
}

thead {
  border-bottom: 1px solid black;
}

table {
  table-layout: fixed;
}

td.preview-prodname {
  vertical-align: text-bottom;
  padding-top: 8px;
}

th.preview-product {
  width: 65px;
}

th.preview-discount{
  width: 10%;
}

#cart-content tr.ellipsis{
  height: 20px;
  td {text-align: center;}
}

#cart-content tfoot > tr {
  margin-top: 5px;
}


th.preview-qty{
  width: 12%;
}

th.preview-total{
  width: 15%;
}

.preview-picture{
  width: 50px;
  margin-right: 15px;
}

#cart-content tbody > tr {
  border-bottom: 1px solid #9e9e9e;
  height: 92px;
  border-bottom: 1px solid $grey;
}


@media only screen and (max-width: 768px) {

  .shopping .submenu div#shopping-cart {
    display: none;
  }

}


