<div class="container-fluid">

  <nav class="product-filter">
    <h1><span *ngIf="selectedCategory === '/'">Alle Kategorien</span><span
      *ngIf="selectedCategory !== '/'">{{selectedCategory}}</span></h1>

    <div class="sort">
      <div class="collection-sort">
        <label>Filter nach:</label>
        <select [(ngModel)]="selectedCategory" (change)="selectedOption()">
          <option disabled hidden [value]="selectUndefinedOptionValue">-alle Kategorien-</option>
          <option value="/">-alle Kategorien-</option>
          <option *ngFor="let category of categories$ | async" [value]="category.name">{{category.name}}</option>
        </select>
      </div>

      <div class="collection-sort">
        <label>Sortieren nach:</label>
        <select [(ngModel)]="selectedSort" (change)="selectedOption()">
          <option disabled hidden [value]="selectUndefinedOptionValue">alphabetisch, A-Z</option>
          <option value="a-z">alphabetisch, A-Z</option>
          <option value="z-a">alphabetisch, Z-A</option>
          <option value="low-high">Preis, tief nach hoch</option>
          <option value="high-low">Price, hoch nach tief</option>
        </select>
      </div>
    </div>
  </nav>

<main class="col-sm-12" *ngIf="(products$ | async)?.length !=0; else noItems">
  <div class="card">
    <table class="table table-hover shopping-cart-wrap">
      <thead class="text-muted">
      <tr>
        <th scope="col">Produkte</th>
        <th scope="col" width="120">Preis</th>
      </tr>
      </thead>
      <tbody>

          <tr routerLink="/produkte/detail/{{product.key}}" *ngFor="let product of products$ | async | checkStatus | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index">
            <!--<app-product-item [product]='product' [count]='i'></app-product-item>-->
            <td>
              <figure class="media">
                <div class="img-wrap" style="min-width: 100px; margin-right: 10px;"><img src="{{product.image || '//:0'}}"  alt="{{product.name}}" class="img-thumbnail img-sm" style="width: 200px;"></div>

                  <p *ngIf="product.name" class="crop-text-1">{{product.name}}</p><br/>
                  <!--<p *ngIf="product.description" class="crop-text-1">{{product.description}}</p>-->

              </figure>
            </td>
            <td>
              <div class="price-wrap">
                <p *ngIf="product.discountFactor !== 1" style="text-decoration:line-through;">CHF {{product.price}}</p>
                <p>CHF {{product.price * product.discountFactor | number : '1.2-2'}}</p>
              </div> <!-- price-wrap .// -->
            </td>
          </tr>

      </tbody>
    </table>
  </div> <!-- card.// -->

</main> <!-- col.// -->

</div> <!-- container-fluid // -->

<ng-template #noItems>
  <p>In der ausgewählten Kategorie <strong>{{selectedCategory}}</strong> gits es zur Zeit kleine Produkte.</p>
</ng-template>

<pagination-controls *ngIf="(products$ | async)?.length >0" (pageChange)="p = $event"
                     maxSize="9"
                     directionLinks="true"
                     autoHide="true"
                     responsive="true"
                     previousLabel="Zurück"
                     nextLabel="Vor"
                     screenReaderPaginationLabel="Pagination"
                     screenReaderPageLabel="Seite"
                     screenReaderCurrentLabel="Du bist auf Seite">
</pagination-controls>
