@import '../../styles/shared';

// home slider no padding
app-home {
  > .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

// home boxen spacing
.col-6.col-sm-12.col-md-6 {
  margin-bottom: 20px;
}
