<footer class="main-footer">
  <div class="container">
    <div class="row">



      <div class="footer-sitemap-section col-12 col-sm-6 col-md-3 col-lg-3">
        <h4 class="sitemap-title">KATEGORIEN</h4>
        <ul class="sitemap-items-list list-unstyled">
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1" [routerLink]="['produkte']">
             Computer
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1" [routerLink]="['produkte']">
              Fotoapparate
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1" [routerLink]="['produkte']" >
             Gartenzubehör
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1" [routerLink]="['produkte']">
             Kleider
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1" [routerLink]="['produkte']">
             Schuhe
            </a>
          </li>
        </ul>
      </div>



      <div class="footer-sitemap-section col-12 col-sm-6 col-md-3 col-lg-3">
        <h4 class="sitemap-title">INFO</h4>
        <ul class="sitemap-items-list list-unstyled">
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Über uns
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Geschichte
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
             Dienstleistungen
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
             Sponsoren
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Crowdfunding
            </a>
          </li>
        </ul>
      </div>


      <div class="footer-sitemap-section col-12 col-sm-6 col-md-3 col-lg-3 md-bottomrow">
        <h4 class="sitemap-title">ZAHLUNG & VERSAND</h4>
        <ul class="sitemap-items-list list-unstyled">
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Ihr Konto
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Versandarten / Kosten
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Rückerstattung
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Gebüren
            </a>
          </li>
        </ul>
      </div>




      <div class="footer-sitemap-section col-12 col-sm-6 col-md-3 col-lg-3 md-bottomrow">
        <h4 class="sitemap-title">KONTAKT</h4>
        <ul class="sitemap-items-list list-unstyled">

        <li class="sitemap-item">
          <a class="sitemap-link" tabindex="-1">
            <a href="tel:+41792678030">+41792678030</a>
          </a>
        </li>


          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1" href="mailto:mabrweb@gmail.com">
              mabrweb@gmail.com
            </a>
          </li>

        </ul>

        <ul class="list-unstyled list-inline text-center mt-2 float-left">
        <a href="https://instagram.com" target="_blank" tabindex="-1" class="sitemap-link">
          <fa name="instagram mr-2" size="2x"></fa>
        </a>
        <a href="https://twitter.com" target="_blank" tabindex="-1" class="sitemap-link">
          <fa name="twitter mr-2" size="2x"></fa>
        </a>
        <a href="https://plus.google.com" target="_blank" tabindex="-1" class="sitemap-link">
          <fa name="google mr-2" size="2x"></fa>
        </a>
        <a href="https://facebook.com" target="_blank" tabindex="-1" class="sitemap-link">
          <fa name="facebook mr-2" size="2x"></fa>
        </a>
        </ul>

      </div>

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3"><span>© All rights reserved. Made with  <fa name="heart" ></fa> by Martin Polak & Bruno Staub</span>
        <a href="#"> mabrweb.com</a>
      </div>
      <!-- Copyright -->

    </div>
  </div>
</footer>







