<app-page-title title="Kategorien verwalten" [children]="[{title: 'Kategorien verwalten'}]"></app-page-title>
<div class="container">
  <div class="table-responsive-sm">
    <table class="table" *ngIf="(categories$ | async) as kategorie">
      <thead>
      <tr>
        <th scope="col" class="col1">#</th>
        <th scope="col" class="col2">Name</th>
        <th scope="col" class="col3">Beschreibung</th>
        <th scope="col" class="col4">Aktion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let kat of kategorie; let i = index">
        <th scope="row" class="col1">{{i}}</th>
        <td class="col2">{{kat.name}}</td>
        <td class="col3">{{kat.description}}</td>
        <td class="col4"><button class="btn btn-sm btn-danger" (click)="onDeletItem(kat.id)">
          <!--<fa name="trash"></fa>--> <i class="fa fa-trash"></i>
        </button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <a appBackButton class="mt-4 d-block pointer">Zurück zum Dashboard</a>
</div>
