@import '../../../styles/_shared';

app-footer {
  display: block;

  .main-footer {
    margin-top: 50px;
    background-color: $black;
    padding-top: 50px;

    .footer-sitemap-section {
      @include media-breakpoint-down(xs) {
        text-align: center;
      }

      .sitemap-title {
        color: $white;
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
      }

      .sitemap-items-list {
        margin: 0;

        .sitemap-item {
          padding: 0.2rem 0;
          font-size: 1rem;

          @include media-breakpoint-down(xs) {
            padding: 0.4rem 0;
            font-size: 0.9rem;
          }

          .sitemap-link {
            color: $grey;
            font-weight: 500;
            cursor: pointer;

            &:hover {
              color: $white;
              text-decoration: none;
            }
          }
        }
      }
    }

    .footer-social-presence {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      .social-link {
        font-size: 1.5rem;
        line-height: 1;
        color: $grey;

        &:hover {
          color: $white;
        }

        .fa {
          vertical-align: top;
        }
      }

      @include media-breakpoint-down(md) {
        margin-bottom: 50px;
        justify-content: space-evenly;

        .social-link {
          font-size: 2rem;
        }
      }
    }
    a, p, span
    {
      color: #9e9e9e;
    }

    .footer-copyright {
      margin: auto;
      margin-top: 27px;
    }

    i.fa.fa-heart {
      color: red;
    }

    .sitemap-link i.fa:hover {
      color: #FFF;
    }


  }// .main-footer
}





@media only screen and (max-width: 770px) {

  app-footer  {

    .main-footer .footer-sitemap-section .sitemap-title {
      margin-bottom: 1rem;
    }

    .footer-sitemap-section.col-12.col-sm-6.col-md-3.col-lg-3.md-bottomrow {
      margin-top: 30px;
    }

    .main-footer .footer-copyright {
      margin: auto;
      margin-top: 25px;
    }
  }

}

@media only screen and (max-width: 574px) {

  app-footer  {


    .main-footer .footer-sitemap-section .sitemap-title {
      margin-bottom: 0.5rem;
    }

    .footer-sitemap-section.col-12.col-sm-6.col-md-3.col-lg-3 {
      margin-top: 30px;
    }

    ul.list-unstyled.list-inline.text-center.mt-2.float-left {
      float: none !important;
    }

  }

}
