<h3 class="checkout-titel">Versandart</h3>

<form [formGroup]="ShipmentForm" (ngSubmit)="onSubmit()">

  <table class="table table-striped checkout">
    <thead>
    <tr>
      <th width="20%"></th>
      <th colspan="2" class="text-right">voraussichtliche Lieferung</th>
      <th class="text-right">Preis CHF</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td><input type="radio" value="express" name="shippingMethod" formControlName="shippingMethod"></td>
      <td>Schweizer Post</td>
      <td class="text-right">{{this.postDate | date:'dd.MM.yyyy'}}</td>
      <td class="text-right">gratis</td>
    </tr>
    <tr>
      <td><input type="radio" value="fedex" name="shippingMethod" formControlName="shippingMethod"></td>
      <td>DHL Express</td>
      <td class="text-right">{{this.dhlDate | date:'dd.MM.yyyy'}}</td>
      <td class="text-right">22.00</td>
    </tr>
    <tr>
      <td><input type="radio" value="normal" name="shippingMethod" formControlName="shippingMethod"></td>
      <td>UPS Über-Nacht-Versand</td>
      <td class="text-right">{{this.upsDate | date:'dd.MM.yyyy'}}</td>
      <td class="text-right">150.00</td>
    </tr>
    </tbody>
  </table>


  <div class="row checkout-button">
    <div class="col-12">
      <button type="button" class="checkoutaction btn btn-primary float-left mb-2" (click)="goBack()">zurück</button>
      <button type="submit" class="checkoutaction btn btn-primary float-right">Zahlart wählen</button>
    </div>
  </div>


</form>


