


<div *ngIf="selectedProduct$ | async as product; else loading">
  <div class="product-wrapper section-gap">
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <div class="col-sm-12 col-md-12 m-md-b">
              <div class="feature-box-thumb"><img alt="product image"
                                                  class="img-fluid card-shadow"
                                                  src="{{product.image || '//:0'}}"></div>
            </div>
            <!--<div class="col-sm-4 col-md-4">-->
              <!--<ul class="list-unstyled list-p-detail">-->
                <!--<li class="mb-3"><a href="javascript:void(0);"><img-->
                  <!--alt="product image"-->
                  <!--class="img-fluid"-->
                  <!--height="100"-->
                  <!--src="assets/img/2.jpg"-->
                  <!--width="100"></a>-->
                <!--</li>-->
                <!--<li class="mb-3"><a href="javascript:void(0);"><img-->
                  <!--alt="product image"-->
                  <!--class="img-fluid"-->
                  <!--height="100"-->
                  <!--src="assets/img/2.jpg"-->
                  <!--width="100"></a>-->
                <!--</li>-->
                <!--<li class="mb-3"><a href="javascript:void(0);"><img-->
                  <!--alt="product image"-->
                  <!--class="img-fluid"-->
                  <!--height="100"-->
                  <!--src="assets/img/2.jpg"-->
                  <!--width="100"></a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="mb-3">
            <h2 class="text-capitalize font-3x mb-3">{{product.name}}</h2>

            <h4 class="font-26 text-primary" *ngIf="product.discountFactor !== 1" style="text-decoration:line-through;">CHF {{product.price}}</h4>
            <h4 class="font-26 text-primary">CHF {{product.price * product.discountFactor | number : '1.2-2'}}</h4>

          </div>
          <p>{{product.description}}</p>
          <div class="d-flex justify-content-between">
            <div class="align-content-start w-50 mr-3"><input
              class="form-control form-control-lg"
              placeholder="1" type="number" value="1">
            </div>
            <div class="align-content-start w-50"><a
              class="btn btn-primary btn-lg btn-block" (click)="addToBasket(product)">in Warenkorb</a></div>
          </div>
        </div>
      </div>

      <ngb-tabset>
        <ngb-tab title="Variante1">
          <ng-template ngbTabContent>
            <p><span>Variante 1 Details sind hier beschrieben</span></p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Variante2">
          <ng-template ngbTabContent>
            <p><span>Variante 2 Details sind hier beschrieben</span></p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Variante3">
          <ng-template ngbTabContent>
            <p><span>Variante 3 Details sind hier beschrieben</span></p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>
  </div>
</div>


<div class="col-12">
  <button class="btn btn btn-secondary" appBackButton>Zurück</button>
</div>

<ng-template #loading>
  <div>Loading ...</div>
</ng-template>

<br>
