<div *ngIf="selectedProduct$ | async as product; else loading">
  <div class="product-wrapper section-gap">
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <div class="col-sm-12 col-md-12 m-md-b">
              <div class="feature-box-thumb"><img alt="product image"
                                                  class="img-fluid card-shadow"
                                                  src="{{product.image || '//:0'}}"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-5">
          <div class="mb-3">
            <h2 class="text-capitalize font-3x mb-3">{{product.name}}</h2>

            <h4 class="font-26 text-primary" *ngIf="product.discountFactor !== 1" style="text-decoration:line-through;">CHF {{product.price}}</h4>
            <h4 class="font-26 text-primary">CHF {{product.price * product.discountFactor | number : '1.2-2'}}</h4>

          </div>
          <p>{{product.description}}</p>
          <div class="d-flex justify-content-between">
            <div class="align-content-start w-50 mr-3">
              <input class="form-control form-control-lg" type="number" min="1" placeholder="1" [(ngModel)]="product.itemcount">
            </div>
            <div class="align-content-start w-50">
              <button class="btn btn-primary btn-block" (click)="addToBasket(product)">in Warenkorb</button>
            </div>
          </div>
        </div>
      </div>

      <ngb-tabset [orientation]="currentOrientation" [justify]="currentJustify" *ngIf="product.moreInfo1Title || product.moreInfo1Text || product.moreInfo2Title || product.moreInfo2Text || product.moreInfo3Title || product.moreInfo3Text">
        <ngb-tab title="{{product.moreInfo1Title}}" *ngIf="product.moreInfo1Title">
          <ng-template ngbTabContent *ngIf="product.moreInfo1Text">
            <p><span>{{product.moreInfo1Text}}</span></p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="{{product.moreInfo2Title}}" *ngIf="product.moreInfo2Title">
          <ng-template ngbTabContent *ngIf="product.moreInfo2Text">
            <p><span>{{product.moreInfo2Text}}</span></p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="{{product.moreInfo3Title}}" *ngIf="product.moreInfo3Title">
          <ng-template ngbTabContent *ngIf="product.moreInfo3Text">
            <p><span>{{product.moreInfo3Text}}</span></p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>
  </div>
</div>


<div class="col-12">
  <button class="btn btn btn-primary mt-5" appBackButton>Zurück</button>
</div>

<ng-template #loading>
  <div>Loading ...</div>
</ng-template>

<br>
