@import '../../styles/_shared';

tr.scarttotal {
  border-bottom: 1px solid $grey-button;
  font-weight: 600;
}

table.table-striped > thead > tr > th{
  border-top:1px solid $grey-button;
  border-bottom:1px solid $grey-button;
}

.img-thumbnail {
  max-width: 100px;
  height: auto;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-left: 10px;
}


.table {
  table-layout: fixed;
}


h3.checkout-titel {
  margin-top: 80px;
  margin-bottom: 25px;
}


th.action{
  width: 9%;
}

th.orderinput,
td.orderinput {
  width: 12%;
}

th.discount{
  width: 8%;
}

th.price{
  width: 13%;
}


th.product{
  width: 40%;
}


button.btn:not(.btn-danger)  {
  border: 1px solid #6c757d;
}

button.btn {
  padding: 0.375rem 0.75rem;
}

@media screen and (max-width: 1200px) {

  th.orderinput,
  td.orderinput {
    width: 15%;
  }

}

@media screen and (max-width: 990px) {

  th.orderinput,
  td.orderinput {
    width: 21%;
  }

}


@media screen and (max-width: 768px) {

  h3.checkout-titel {
    margin-top: 40px;
  }

  th.orderinput,
  td.orderinput {
    width: 100%;
  }

  tbody, thead {
    float: left;
    width: 100%;}


  .order {
    td,th { display: block }
    thead,.no-responsive { display: none }
  }

  .table td:before {
    content: attr(data-title)" ";
    float: left;
  }
  .table tr{
    border: 1px solid #dee2e6;
    width: 100%;
    display: block;
  }
  .table td.text{
    height: 35px;
    padding: 0.50rem;
    padding-left: 0.75rem;
  }

  .table p {
    margin-bottom: 0;
  }

  .table .btn-sm, .btn-group-sm > .btn {
    width: 100%;
  }
}

@media screen and (max-width: 415px) {

  button.orderaction {
    width: 100%;
  }

  h3.checkout-titel {
    margin-top: 0px;
  }

}



