<!--<app-page-title title="Admin Dashboard" [children]="[{title: 'Admin Dashboard'}]"></app-page-title>-->


<router-outlet></router-outlet>




<!--<div class="container-fluid" id="admin">-->

<!--</div>-->




<!--<div class="container-fluid">-->
  <!--<ul>-->
    <!--<li><a routerLink="list">Produkte auflisten / editieren / löschen</a></li>-->
    <!--<li><a routerLink="add">Produkt hinzufügen</a></li>-->
    <!--<li><a routerLink="add-category">Kategorie hinzufügen</a></li>-->
    <!--<li><a routerLink="edit-category">Kategorien auflisten / editieren / löschen</a></li>-->
    <!--<li><a routerLink="/users/list">Benutzer Verwalten</a></li>-->
  <!--</ul>-->

  <!--<hr>-->
  <!--<router-outlet></router-outlet>-->
<!--</div>-->
