nav {
  // overflow: hidden;
}
.burgerMenu {
  // margin-right: 35px;
  cursor: pointer;
  display: block;
  div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }
}

li.nav-item.lang {
  display: flex;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .burgerMenu {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}


