nav {
  // overflow: hidden;
  background: #671717;
}
.burgerMenu {
  // margin-right: 35px;
  cursor: pointer;
  display: block;
  div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }
}

li.nav-item.lang {
  display: flex;
}

.fa{
  font-size: 30px;
  color: #fff;
}



.navbar-brand {
  font-family: 'Fredoka One', cursive;
}


@media (max-width: 400px) {

  .navbar-brand {
    width: 60px;
    font-size: 18px;
    word-break: break-all;
    height: 50px;
    white-space: normal;
    line-height: 20px;
  }

}



// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .burgerMenu, .visible-mobile {
    display: none;
  }


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}


