
<app-page-title title="Produkte" [children]="[{title: 'Produkte'}]"></app-page-title>
<div class="container-fluid">
  <div class="row">
    <nav class="product-navi">
      <button routerLink="grid" class="btn btn-primary" role="button" routerLinkActive="active"><i class="fa fa-th" aria-hidden="true"></i></button>
      <button routerLink="list" class="btn btn-primary" role="button" routerLinkActive="active"><i class="fa fa-list" aria-hidden="true"></i></button>
    </nav>
  </div>

</div>


<router-outlet></router-outlet>
