
  <h3 class="checkout-titel">Zahlart</h3>

  <form [formGroup]="PaymentForm" (ngSubmit)="onSubmit()">

    <table class="table table-striped checkout">


      <tbody>
      <tr>
        <td width="20%"><input type="radio" value="invoice" name="paymentMethod" formControlName="paymentMethod"></td>
        <td>Rechnung</td>
      </tr>
      <tr>
        <td> <input type="radio" value="prepayment" name="paymentMethod"  formControlName="paymentMethod"></td>
        <td>Vorkasse</td>
      </tr>
      <tr>
        <td>  <input type="radio" value="creditcard" name="paymentMethod"  formControlName="paymentMethod"></td>
        <td>Kreditkarte</td>
      </tr>
      </tbody>
  </table>

    <div class="row checkout-button">
      <div class="col-12">
        <button type="button" class="checkoutaction btn btn-primary float-left mb-2" (click)="goBack()">zurück</button>
        <button type="submit" class="checkoutaction btn btn-primary float-right">Bestellübersicht</button>
      </div>
    </div>


  </form>


