.media {
  border-bottom: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
  padding-bottom: 40px;
}
span{
  margin-right: 5px;
  padding: 5px;
}

span.button.is-small{
  &.btn-primary,&.btn-secondary,&.btn-danger {
    cursor: pointer;
  }
}

.editstate{
  .media-body{
    padding-top: 12px;
  }
  label {
    margin-right: 8px;
  }
}

img.img-fluid.align-self-start.mr-3 {
  max-width: 80%;
}
