.media {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}
span{
  margin-right: 5px;
  padding: 5px;
}

span.button.is-small{
  &.btn-primary,&.btn-secondary,&.btn-danger {
    cursor: pointer;
  }
}

.editstate{
  .media-body{
    padding-top: 12px;
  }
  label {
    margin-right: 8px;
  }
}
